<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add form</title>
</head>
<body>
    <form action="#" th:action="@{/shop/cycle/add}" method="post" th:object="${cycle}">
        <label for="brand">brand</label><br>
        <input type="text" name="brand" id="brand" th:field="*{brand}"><br>
        <label for="color">color</label><br>
        <input type="text" name="color" id="color" th:field="*{color}"><br>
        <input type="submit" value="ADD">
    </form>
</body>
</html>